<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Cadastrar um novo Produto</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>

	<a href="/mercado/index.html">Voltar para lista de produtos</a>

	<div id="inicio">
		<h4>Produtos:</h4>

		<form action=""
			method="post">
			<p v-if="errors.length">
				<b>Preencha o formulario corretamente:</b>
			<ul>
				<li v-for="error in errors">{{error}}</li>
			</ul>
			</p>
			<p>
				<label for="nome">Nome</label> <input id="nome" v-model="nome"
					type="text" name="nome">
			</p>

			<p >
				<label for="fabricante">Fabricante</label> 
				<input id="nomefabricante" v-model="nomefabricante"
					type="text" name="nomefabricante">
			</p>

			<p>
				<label for="volume">Volume</label> <input id="volume"
					v-model="volume" type="number" name="volume" min="0">
			</p>

			<p>
				<label for="unidade">Unidade</label> <input id="unidade"
					v-model="unidade" type="number" name="unidade" min="0">
			</p>

			<p>
				<label for="estoque">Estoque</label> <input id="estoque"
					v-model="estoque" type="number"  name="estoque" min="0">
			</p>

			<p>
				<input v-on:click="criarProduto" type="submit" value="Enviar"></input>
			</p>
		</form>
	</div>

	
	<script src="resources/js/jquery.js"></script>
	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/cadastro-de-produtos.js"></script>
</body>
</html>